In [1]:
import sys
import os

# Add the directory containing the utility module to the system path
sys.path.append(os.path.abspath('/workspaces/flask_server'))

import pandas as pd
import numpy as np
from utility.lags import sig_lag
from models.stacking import *
from utility.gap_interval_identification import *
from utility.count_before_prior_gap import *
from forecast.forecast_multi_with_gap import *

/home/codespace/.python/current/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('/workspaces/flask_server/test/data/apple.csv', index_col=0,parse_dates=True)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-20,184.410004,186.100006,184.410004,185.009995,184.282257,49799100
2023-06-21,184.899994,185.410004,182.589996,183.960007,183.236404,49515700
2023-06-22,183.740005,187.050003,183.669998,187.000000,186.264435,51245300
2023-06-23,185.550003,187.559998,185.009995,186.679993,185.945679,53079300
2023-06-26,186.830002,188.050003,185.229996,185.270004,184.541260,48088700
...,...,...,...,...,...,...
2024-06-12,207.369995,220.199997,206.899994,213.070007,213.070007,198134300
2024-06-13,214.740005,216.750000,211.600006,214.240005,214.240005,97862700
2024-06-14,213.850006,215.169998,211.300003,212.490005,212.490005,70122700
2024-06-17,213.369995,218.949997,212.720001,216.669998,216.669998,93609800
2024-06-18,213.850006,215.169998,211.300003,212.490005,212.490005,70122700

In [3]:
gap_length, interval_length = identify_gap(df = df, freq = 'D')
print(f"gap: {gap_length} interval_length: {interval_length}")
count_before = compute_count_before(df =df, freq = 'D', interval_length_before_gap=interval_length)
print(f"count_before: {count_before}")

gap: 2 interval_length: 5
count_before: 2

In [4]:
lag_list = sig_lag(df = df, max_lag = 30, ts_type="multivariate")
print(lag_list)
print(type(lag_list))

[23, 23, 24, 24, 24, 30]
<class 'list'>

In [6]:
pred = forecast_multi_with_gap(df_arg = df, lag_list = lag_list, steps_value = 14, freq = 'D', gap_length = gap_length, interval_length_before_gap = interval_length, forecast_method='without_refit')

count_before: 2

In [7]:
pred

                  target
2024-06-19  7.286602e+07
2024-06-20  5.821005e+07
2024-06-21  5.728687e+07
2024-06-24  5.431794e+07
2024-06-25  5.398846e+07
2024-06-26  5.157746e+07
2024-06-27  5.657740e+07
2024-06-28  6.018396e+07
2024-07-01  6.089478e+07
2024-07-02  5.690626e+07
2024-07-03  6.211618e+07
2024-07-04  6.390297e+07
2024-07-05  6.174155e+07
2024-07-08  5.795054e+07

In [8]:
metric, predictions = evaluate_model_multi_with_gap(df_arg = df, lag_list = lag_list, steps_value = 14, freq = 'D', gap_length = gap_length, interval_length_before_gap = interval_length, forecast_method='without_refit')

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:00<00:00, 22.73it/s]

count_before: 2

In [9]:
print(metric)
print(predictions)

   levels  mean_absolute_error
0  Volume         2.182566e+07
                  target
2024-04-09  5.724547e+07
2024-04-10  5.935912e+07
2024-04-11  5.610201e+07
2024-04-14  5.674965e+07
2024-04-15  5.765011e+07
2024-04-16  6.121539e+07
2024-04-17  6.055364e+07
2024-04-18  5.860782e+07
2024-04-21  5.674040e+07
2024-04-22  5.687641e+07
2024-04-23  5.858394e+07
2024-04-24  5.904935e+07
2024-04-25  5.680710e+07
2024-04-28  6.111800e+07
2024-04-29  5.658619e+07
2024-04-30  5.281644e+07
2024-05-01  5.726102e+07
2024-05-02  5.670166e+07
2024-05-05  5.736720e+07
2024-05-06  5.584784e+07
2024-05-07  6.088188e+07
2024-05-08  5.805737e+07
2024-05-09  5.663604e+07
2024-05-12  5.706339e+07
2024-05-13  5.803597e+07
2024-05-14  5.765957e+07
2024-05-15  5.612201e+07
2024-05-16  6.128254e+07
2024-05-19  5.708324e+07
2024-05-20  5.914751e+07
2024-05-21  6.530343e+07
2024-05-22  5.966356e+07
2024-05-23  6.026102e+07
2024-05-26  5.883133e+07
2024-05-27  6.219885e+07
2024-05-28  6.102542e+07
2024-05-29  5.992194e+07
2024-05-30  6.059803e+07
2024-06-02  5.964927e+07
2024-06-03  6.467535e+07
2024-06-04  6.103108e+07
2024-06-05  5.831303e+07
2024-06-06  5.715448e+07
2024-06-09  6.330260e+07
2024-06-10  5.949670e+07
2024-06-11  5.810564e+07
2024-06-12  5.864203e+07
2024-06-13  6.133788e+07
2024-06-16  5.904108e+07
2024-06-17  5.888284e+07