In [1]:
import sys
import os

# Add the directory containing the utility module to the system path
sys.path.append(os.path.abspath('/workspaces/flask_server'))

import pandas as pd
import numpy as np
from utility.lags import sig_lag

In [2]:
df = pd.read_csv('/workspaces/flask_server/test/data/candy_production.csv', index_col=0, parse_dates=True)
df

                  IPG3113N
observation_date
1972-01-01         85.6945
1972-02-01         71.8200
1972-03-01         66.0229
1972-04-01         64.5645
1972-05-01         65.0100
...                    ...
2017-04-01        107.4288
2017-05-01        101.9209
2017-06-01        104.2022
2017-07-01        102.5861
2017-08-01        114.0613

[548 rows x 1 columns]

In [3]:
#identify the lag
lag = sig_lag(df, 30, ts_type = "univariate")
print(lag)

29

In [4]:
from Trend_analysis.sma import *

res = compute_sma(df_arg = df, window_size = 10, ts_type="univariate")

In [5]:
res

                     target
observation_date
1972-01-01              NaN
1972-02-01              NaN
1972-03-01              NaN
1972-04-01              NaN
1972-05-01              NaN
...                     ...
2017-04-01        110.49008
2017-05-01        110.38705
2017-06-01        110.33750
2017-07-01        109.66420
2017-08-01        109.16531

[548 rows x 1 columns]