In [1]:
import sys
import os

# Add the directory containing the utility module to the system path
sys.path.append(os.path.abspath('/workspaces/flask_server'))

import pandas as pd
import numpy as np
from utility.lags import sig_lag
from  forecast.forecast_multi import *

/home/codespace/.python/current/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('/workspaces/flask_server/test/data/thames_water.csv', index_col=0, parse_dates=True)
df

,chenies_rain,crossness_rain,edenvale_rain,haveringbower_rain,hollandpark_rain,leatherhead_rain,northmymms_rain,num_active_events,num_unique_locs,num_start_events,median_spill_duration,mean_spill_duration,sum_spill_duration
start_day,,,,,,,,,,,,,
12/12/2022,0.0,4.4,1.14,1.38,1.4,0.0,1.6,2,2,2,44.5,44.500000,89
13/12/2022,0.2,2.0,0.28,0.00,0.6,1.2,0.2,1,1,1,540.0,540.000000,540
14/12/2022,0.0,0.0,4.86,0.00,0.0,0.0,0.2,0,0,0,0.0,0.000000,0
15/12/2022,0.2,0.0,1.18,0.69,0.2,0.0,1.6,0,0,0,0.0,0.000000,0
16/12/2022,1.2,0.2,0.02,0.02,0.0,0.0,1.0,0,0,0,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
08/12/2023,14.0,7.0,13.04,0.00,7.4,2.0,8.8,104,36,104,90.0,173.201923,18013
09/12/2023,3.2,2.6,2.42,0.00,3.4,9.7,2.8,300,180,300,195.0,368.263333,110479
10/12/2023,5.4,1.0,4.53,0.00,1.8,1.7,3.2,195,69,195,105.0,217.917949,42494
11/12/2023,10.0,9.6,12.26,8.45,9.2,2.5,4.6,140,46,140,60.0,155.007143,21701
12/12/2023,0.0,0.0,0.01,0.01,0.0,5.2,0.0,393,187,393,135.0,319.804071,125683

In [3]:
dict_lags = sig_lag(df = df, max_lag = 30, ts_type="multivariate")
print(dict_lags)
print(type(dict))

{'chenies_rain': 12, 'crossness_rain': 16, 'edenvale_rain': 15, 'haveringbower_rain': 16, 'hollandpark_rain': 24, 'leatherhead_rain': 22, 'northmymms_rain': 14, 'num_active_events': 17, 'num_unique_locs': 16, 'num_start_events': 17, 'median_spill_duration': 24, 'mean_spill_duration': 24, 'sum_spill_duration': 24}
<class 'type'>

In [6]:
pred = forecast_multi(df_arg = df, dict_lags=dict_lags, steps_value = 14, freq = 'D', forecast_method='without_refit')

{'chenies_rain': 12, 'crossness_rain': 16, 'edenvale_rain': 15, 'haveringbower_rain': 16, 'hollandpark_rain': 24, 'leatherhead_rain': 22, 'northmymms_rain': 14, 'num_active_events': 17, 'num_unique_locs': 16, 'num_start_events': 17, 'median_spill_duration': 24, 'mean_spill_duration': 24, 'sum_spill_duration': 24}
type of dic_lags: <class 'dict'>

In [7]:
pred

                  target
2023-12-13  25876.135310
2023-12-14  19444.116640
2023-12-15  26584.273023
2023-12-16  28374.379868
2023-12-17  14843.732614
2023-12-18  19569.115461
2023-12-19  19984.557179
2023-12-20  23400.592120
2023-12-21  22078.203350
2023-12-22  19034.442198
2023-12-23  18245.874182
2023-12-24  17799.989926
2023-12-25  15544.745121
2023-12-26  18660.517517